<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">Төрөл</th>
      <th rowspan="2">Хязгаар</th>
      <th rowspan="2">Цалин</th>
      <th colspan="2">НДШ</th>
      <th colspan="2">Тэтгэвэр</th>
      <th colspan="2">Тэтгэмж</th>
      <th colspan="2">ЭМД</th>
      <th colspan="2">Ажилгүйдэл</th>
      <th colspan="2">ҮОМШО</th>
      <th rowspan="2">Огноо</th>
    </tr>
    <tr>
      <th>АО</th>
      <th>Даатгуулагч</th>
      <th>АО</th>
      <th>Даатгуулагч</th>
      <th>АО</th>
      <th>Даатгуулагч</th>
      <th>АО</th>
      <th>Даатгуулагч</th>
      <th>АО</th>
      <th>Даатгуулагч</th>
      <th>АО</th>
      <th>Даатгуулагч</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" style="text-align: right">Дүн: </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>